.App {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 4px;
  font-size: 28px;
}

.field-container {
  margin: 20px;
}

.field-container label {
  display: block;
  margin: 8px;
}

table td {
  padding: 0.5em;
}